.main_container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header_title{
    font-size: 2.5em;
}
.army_compositions_container{
    margin: 1em 5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.army_composition{
    margin: 1em 0;
    padding: 10px;
    display: flex;
    background-color: white;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
}
.title_description_container,.copyArmy{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title_description_container{
    width: 30%;
}
.copyArmy{
    width: 10%;
}
.composition{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}
.army1_units,.army2_units{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.army,.cc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.quantity{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Army-1 initial styles Started */

.army1_unit1_image{
    background: url('Images/Troops/Drag Rider.jpg');
}
.army1_unit2_image{
    background: url('Images/Troops/9 Dragon/Dragon.png');
}
.army1_unit3_image{
    background: url('Images/Troops/6 Ballon/Balloon 1.png');
}
.army1_cc{
    background: url('Images/Siege Machines/Battle Blimp.png');
}
.army1_cc_troops{
    background: url('Images/Troops/6 Ballon/Balloon\ 1.png');
}
.army1_spell1_image{
    background: url('Images/clash of clans spells/Clone Spell.png');
}
.army1_spell2_image{
    background: url('Images/clash of clans spells/Rage Spell.png');
}
.army1_cc_spells{
    background: url('Images/clash of clans spells/Rage Spell.png');
}

/* Army-1 initial styles ended */

/* Army-2 initial styles Started */

.army2_unit1_image{
    background: url('Images/Troops/12 Miner/Miner 1.png');
}
.army2_unit2_image{
    background: url('Images/Troops/16 Hog Rider/Hog Rider 2.png');
}
.army2_unit3_image{
    background: url('Images/Troops/8 Healer/Healer.png');
}
.army2_unit4_image{
    background: url('Images/Troops/6 Ballon/Balloon 1.png');
}
.army2_unit5_image{
    background: url('Images/Troops/11 Baby Dragon/Baby Dragon.png');
}
.army2_unit6_image{
    background: url('Images/Troops/5 wall breaker/Wall Breaker 1.png');
}
.army2_unit7_image{
    background: url('Images/Troops/7 Wizard/Wizard 2.png');
}
.army2_unit8_image{
    background: url('Images/Troops/2 Archer/Archer 1.png');
}
.army2_cc{
    background: url('Images/Siege Machines/Siege Machine 2.png');
}
.army2_cc_troops{
    background: url('Images/Troops/16 Hog Rider/Hog Rider 2.png');
}
.army2_spell1_image{
    background: url('Images/clash of clans spells/Healing Spell.png');
}
.army2_spell2_image{
    background: url('Images/clash of clans spells/Rage Spell.png');
}
.army2_spell3_image{
    background: url('Images/clash of clans spells/Freeze Spell.png');
}
.army2_spell4_image{
    background: url('Images/clash of clans spells/Poison Spell.png');
}
.army2_cc_spells{
    background: url('Images/clash of clans spells/Healing Spell.png');
}

/* Army-2 initial styles ended */


/* Image Size Default Settings */

.image{
    height: 8em;
    width: 8em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Army-1 Additional Styles */

.army1_unit2_image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}
.army1_unit3_image,.army1_cc_troops{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}
.army1_cc{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

/* Army-1 additional Styles ended */

/* Army-2 Additional Styles */

.army2_unit2_image{
    background-size: 80%;
}
.army2_unit2_image,.army2_cc_troops{
    background-size: 80%;
}
.army2_unit3_image{
    background-size: 90%;
}
.army2_unit4_image{
    background-size: 55%;
}
.army2_unit5_image{
    background-size: 90%;
}
.army2_unit6_image{
    background-size: 70%;
}
.army2_unit7_image{
    background-size: 80%;
}
.army2_unit8_image{
    background-size: 65%;
}
.army2_cc{
    background-size: 90%;
}

/* Army-2 additional Styles ended */

.army1_spell1_quantity,.army1_spell2_quantity{
    display: flex;
    align-items: center;
    justify-content: center;
}
.unit1,.spell1,.spell2{
    padding: 0.5em;
}
li{
    padding-bottom: 0.5em;
}
.copy_army_button{
    text-decoration: none;
    background-color: #0057c2;
    color: white;
    border-radius: 5px;
    padding: 1em;
}
.cc_container{
    margin: 5px 0.5em;
}

@media (max-width: 450px){
    .header_title {
        font-size: 1.5em;
      }
      .army_compositions_container {
        margin: 5px 5px;
        padding: 2px;
      }
      .army_composition {
        margin: 2px 0;
        padding: 1px;
        border-radius: 5px;
        flex-direction: column;
        width: 90%;
      }
      .image {
        height: 3em;
        width: 3em;
      }
      .army_title{
          font-size: 0.75em;
      }
      .army_description{
          font-size: 0.5em;
      }
      .copy_army_button {
        border-radius: 4px;
        padding: 5px;
      }
      h4{
          font-size: 0.5em;
      }
      .title_description_container{
        width: 100%;
        }
        .copyArmy{
            width: 100%;
        }
        .composition{
            width: 100%;
        }
        .cc_container{
            margin: 2px 5px;
        }
}