.main_container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header_title{
    font-size: 2.5em;
}
.army_compositions_container{
    margin: 1em 5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.army_composition{
    margin: 1em 0;
    padding: 10px;
    display: flex;
    background-color: white;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
}
.title_description_container,.copyArmy{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title_description_container{
    width: 30%;
}
.copyArmy{
    width: 10%;
}
.composition{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}
.army1_units,.army2_units{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.army,.cc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.quantity{
    display: flex;
    align-items: center;
    justify-content: center;
}
.army1_spell1_quantity,.army1_spell2_quantity{
    display: flex;
    align-items: center;
    justify-content: center;
}
.unit1,.spell1,.spell2{
    padding: 0.5em;
}
li{
    padding-bottom: 0.5em;
}
.copy_army_button{
    text-decoration: none;
    background-color: #0057c2;
    color: white;
    border-radius: 5px;
    padding: 1em;
}
.cc_container{
    margin: 5px 0.5em;
}

