body{
    width: 100vw;
}
.main_container{
    position: relative;
    background-color: #ffa518;
    display: flex;
    flex-direction: column;
}
.header_container,.headerName{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
}
.header_container{
    height: 15%;
}
.townhall_container{
    display: flex;
    flex-wrap: wrap;
    padding: 0 2em;
    margin: 0 5em;
    align-items: center;
    justify-content: center;
}
.townhall{
    min-height: 0px;
    height: 15em;
    width: 25%;
    margin: 1em;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.ThImage9,.ThImage10,.ThImage11,.ThImage12,.ThImage13,.ThImage14{
    height: 70%;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.ThImage9{
    background-image: url('Images/townhalls/th9.png');
}
.ThImage10{
    background-image: url('Images/townhalls/th10.png');
}
.ThImage11{
    background-image: url('Images/townhalls/th11.png');
}
.ThImage12{
    background-size: 90%;
    background-image: url('Images/townhalls/th12.png');
}
.ThImage13{
    background-size: 80%;
    background-image: url('Images/townhalls/th13.png');
}
.ThImage14{
    background-size: 88%;
    background-image: url('Images/townhalls/th14.png');
}
.ThImageCommon:hover{
    transform: scale(10%);
}
.townhall:hover{
    transition: 0.5s linear;
    box-shadow: inset 328px 0 0 0 #B90E0A;
    transform: scale(110%);
}
.townhall:hover .ThName{
    color: white;
}
.anchorTag{
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.liner{
    height: 2px;
    background-color: white;
}
.footer_container{
    padding: 0 2em;
    margin: 1em 5em;
}
.about_container{
    margin-top: 1em;
}
.about{
    display: none;
}
.details{
    border-bottom: 2px solid white;
}
.contact{
    margin: 1em 0;
}
.contact_details{
    display: none;
}
.contact_details.active{
    display: block;
}
.about.active{
    display: block;
}
@media (max-width: 500px){
    .headerName{
        font-size: 0.6em;
    }
    .townhall_container,.footer_container{
        padding: 0 0.5em;
        margin: 0.1em 0.5em;
    }
    .townhall{
        width: 35%;
        height: 8em;
    }
}