.image{
    height: 8em;
    width: 8em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.army1_unit1_image{
    background: url('Images/Troops/10 P.E.K.K.A/PEKKA 1.png');
}
.army1_unit2_image{
    background: url('Images/Troops/21 Bowler/Bowler.png');
}
.army1_unit3_image{
    background: url('Images/Troops/8 Healer/Healer.png');
}
.army1_unit4_image{
    background: url('Images/Troops/13 Electro Dragon/Electro Dragon.png');
}
.army1_unit5_image{
    background: url('Images/Troops/6 Ballon/Balloon 1.png');
}
.army1_unit6_image{
    background: url('Images/Troops/7 Wizard/Wizard 2.png');
}
.army1_spell1_image{
    background: url('Images/clash of clans spells/Freeze Spell.png');
}
.army1_spell2_image{
    background: url('Images/clash of clans spells/Bat Spell.png');
}
.army1_spell3_image{
    background: url('Images/clash of clans spells/Poison Spell.png');
}
.army1_cc{
    background: url('Images/Siege Machines/Log Launcher 1.png');
}
.army1_cc_troops{
    background: url('Images/Troops/21 Bowler/Bowler.png');
}
.army1_cc_troops2{
    background: url('Images/Troops/4 Giant/Giants 1.png');
}
.army1_cc_spells{
    background: url('Images/clash of clans spells/Rage Spell.png');
}
.image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.army1_unit2_image,.army1_cc_troops{
    background-size: 72%;
}
.army1_unit3_image{
    background-size: 90%;
}
.army1_unit4_image{
    background-size: 95%;
}
.army1_unit5_image{
    background-size: 55%;
}
.army1_unit6_image{
    background-size: 88%;
}
.army1_cc_troops2{
    background-size: 90%;
}

@media (max-width: 450px){
    .header_title {
        font-size: 1.5em;
      }
      .army_compositions_container {
        margin: 5px 5px;
        padding: 2px;
      }
      .army_composition {
        margin: 2px 0;
        padding: 1px;
        border-radius: 5px;
        flex-direction: column;
        width: 90%;
      }
      .image {
        height: 3em;
        width: 3em;
      }
      .army_title{
          font-size: 0.75em;
      }
      .army_description{
          font-size: 0.5em;
      }
      .copy_army_button {
        border-radius: 4px;
        padding: 5px;
      }
      h4{
          font-size: 0.5em;
      }
      .title_description_container{
        width: 100%;
        }
        .copyArmy{
            width: 100%;
        }
        .composition{
            width: 100%;
        }
        .cc_container{
            margin: 2px 5px;
        }
}