<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TH11</title>
    <link rel="stylesheet" href="static/common.css">
    <link rel="stylesheet" href="static/common_TH_styles.css">
    <link rel="stylesheet" href="static/th11Style.css">
</head>
<body>
    <div class="main_container">
        <div class="header_container">
            <h1 class="header_title">Welcome Th11!</h1>
            <div class="homeIcon">
                <a href="../index.html"></a>
            </div>
        </div>
        <div class="army_compositions_container">
            <div class="army_composition">
                <div class="title_description_container">
                <div class="army_title">
                    <h3>Pekka Bo Bat</h3>
                </div>
                <div class="army_description">
                    <ul>
                        <li>Intially Funnel with 2 electro dragons</li>
                        <li>After funneling is completed,spam your remaining all troops and heroes to charge to core with healers</li>
                        <li>Use poison for CC along with GW ability and use rage in core</li>
                        <li>Smash remaining base defences at end with bat spells and beware of splash defences(wiz towers) use freezeon them</li>
                    </ul>  
                </div>
                </div>
                <div class="composition">
                    <div class="army1_units">
                        <div class="army">
                            <div class="unit1">
                                <div class="army1_unit1_image image">
                                    
                                </div>
                                <div class="army1_unit1_quantity quantity">
                                    <h4>x3</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army1_unit2_image image">
                                    
                                </div>
                                <div class="army1_unit2_quantity quantity">
                                    <h4>x10</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army1_unit3_image image">
                                    
                                </div>
                                <div class="army1_unit3_quantity quantity">
                                    <h4>x4</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army1_unit4_image image">
                                    
                                </div>
                                <div class="army1_unit4_quantity quantity">
                                    <h4>x2</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army1_unit5_image image">
                                    
                                </div>
                                <div class="army1_unit5_quantity quantity">
                                    <h4>x1</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army1_unit6_image image">
                                    
                                </div>
                                <div class="army1_unit5_quantity quantity">
                                    <h4>x1</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army1_spell1_image image">
                                
                                </div>
                                <div class="army1_spell1_quantity quantity">
                                    <h4>x4</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army1_spell2_image image">
                                
                                </div>
                                <div class="army1_spell2_quantity quantity">
                                    <h4>x6</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army1_spell3_image image">
                                
                                </div>
                                <div class="army1_spell2_quantity quantity">
                                    <h4>x1</h4>
                                </div>
                            </div>
                        </div>
                        <div class="cc">
                            <div class="cc_container">
                                <div class="army1_cc image">

                                </div>
                                <h4 class="quantity">x1</h4>
                            </div>
                            <div class="cc_container">
                            <div class="army1_cc_troops image">

                            </div>
                            <h4 class="quantity">x5</h4>
                            </div>
                            <div class="cc_container">
                                <div class="army1_cc_troops2 image">
    
                                </div>
                                <h4 class="quantity">x1</h4>
                                </div>
                            <div class="cc_container">
                            <div class="army1_cc_spells image">

                            </div>
                            <h4 class="quantity">x1</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyArmy">
                    <a class="copy_army_button" target="_blank" href="https://link.clashofclans.com/en?action=CopyArmy&army=u3x9-4x7-10x22-2x59-1x5-1x6s6x28-4x5-1x9">Copy Army</a>
                </div>
            </div>
            <div class="army_composition">
                <div class="title_description_container">
                <div class="army_title">

                </div>
                <div class="army_description">

                </div>
                </div>
                <div class="composition">

                </div>
                <div class="copyArmy">

                </div>
            </div>
            <div class="army_composition">
                <div class="title_description_container">
                <div class="army_title">

                </div>
                <div class="army_description">

                </div>
                </div>
                <div class="composition">

                </div>
                <div class="copyArmy">

                </div>
            </div>
            <div class="army_composition">
                <div class="title_description_container">
                <div class="army_title">

                </div>
                <div class="army_description">

                </div>
                </div>
                <div class="composition">

                </div>
                <div class="copyArmy">

                </div>
            </div>
        </div>
    </div>
</body>
</html>