<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TH13</title>
    <link rel="stylesheet" href="static/common.css">
    <link rel="stylesheet" href="static/common_TH_styles.css">
</head>
<body>
    <div class="main_container">
        <div class="header_container">
            <h1 class="header_title">Welcome Th13!</h1>
        </div>
        <div class="army_compositions_container">
            <div class="army_composition">
                <div class="title_description_container">
                <div class="army_title">
                    <h3>Drag Riders Clone Effect</h3>
                </div>
                <div class="army_description">
                    <ul>
                        <li>Requires a funneling with heroes or 2 drags initially and once funneling is completed</li>
                        <li>Spam your drags and ballons and drag riders with warden to core</li>
                        <li>while the troops are in first compartment use your blimp with early grand warden ability</li>
                        <li>use 3 clones in triangle shape on TH and remaining is taken care by drag Family!</li>
                    </ul>  
                </div>
                </div>
                <div class="composition">
                    <div class="army1_units">
                        <div class="army">
                            <div class="unit1">
                                <div class="army1_unit1_image image">
                                    
                                </div>
                                <div class="army1_unit1_quantity quantity">
                                    <h4>x4</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army1_unit2_image image">
                                    
                                </div>
                                <div class="army1_unit2_quantity quantity">
                                    <h4>x8</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army1_unit3_image image">
                                    
                                </div>
                                <div class="army1_unit3_quantity quantity">
                                    <h4>x8</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army1_spell1_image image">
                                
                                </div>
                                <div class="army1_spell1_quantity quantity">
                                    <h4>x3</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army1_spell2_image image">
                                
                                </div>
                                <div class="army1_spell2_quantity quantity">
                                    <h4>x1</h4>
                                </div>
                            </div>
                        </div>
                        <div class="cc">
                            <div class="cc_container">
                                <div class="army1_cc image">

                                </div>
                                <h4 class="quantity">x1</h4>
                            </div>
                            <div class="cc_container">
                            <div class="army1_cc_troops image">

                            </div>
                            <h4 class="quantity">x8</h4>
                            </div>
                            <div class="cc_container">
                            <div class="army1_cc_spells image">

                            </div>
                            <h4 class="quantity">x1</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyArmy">
                    <a class="copy_army_button" target="_blank" href="https://link.clashofclans.com/en?action=CopyArmy&army=u8x8-8x5-4x65-1x52s3x16-1x2">Copy Army</a>
                </div>
            </div>
            <div class="army_composition">
                <div class="title_description_container">
                <div class="army_title">
                    <h3>Hybrid</h3>
                </div>
                <div class="army_description">
                    <ul>
                        <li>Requires a funneling for Queen Charge</li>
                        <li>Queen Charge aim is to take down CC along with Townhall/Major Defense</li>
                        <li>After taking down CC, Funnel other side with King and Siege Barracks</li>
                        <li>When you get a perfect path to code deploy miners and warden at back and then hogs</li>
                        <li>Use Heal spells on hogs & Miners and Use Warden ability wisely</li>
                    </ul>  
                </div>
                </div>
                <div class="composition">
                    <div class="army2_units">
                        <div class="army">
                            <div class="unit1">
                                <div class="army2_unit1_image image">
                                    
                                </div>
                                <div class="army2_unit1_quantity quantity">
                                    <h4>x17</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army2_unit2_image image">
                                    
                                </div>
                                <div class="army2_unit2_quantity quantity">
                                    <h4>x14</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army2_unit3_image image">
                                    
                                </div>
                                <div class="army2_unit3_quantity quantity">
                                    <h4>x5</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army2_unit4_image image">
                                    
                                </div>
                                <div class="army2_unit4_quantity quantity">
                                    <h4>x3</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army2_unit5_image image">
                                    
                                </div>
                                <div class="army2_unit5_quantity quantity">
                                    <h4>x2</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army2_unit6_image image">
                                    
                                </div>
                                <div class="army2_unit6_quantity quantity">
                                    <h4>x8</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army2_unit7_image image">
                                    
                                </div>
                                <div class="army2_unit7_quantity quantity">
                                    <h4>x1</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army2_unit8_image image">
                                    
                                </div>
                                <div class="army2_unit8_quantity quantity">
                                    <h4>x3</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army2_spell1_image image">
                                
                                </div>
                                <div class="army2_spell1_quantity quantity">
                                    <h4>x2</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army2_spell2_image image">
                                
                                </div>
                                <div class="army2_spell2_quantity quantity">
                                    <h4>x2</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army2_spell3_image image">
                                
                                </div>
                                <div class="army2_spell3_quantity quantity">
                                    <h4>x2</h4>
                                </div>
                            </div>
                            <div class="unit1">
                                <div class="army2_spell4_image image">
                                
                                </div>
                                <div class="army2_spell4_quantity quantity">
                                    <h4>x1</h4>
                                </div>
                            </div>
                        </div>
                        <div class="cc">
                            <div class="cc_container">
                                <div class="army2_cc image">

                                </div>
                                <h4 class="quantity">x1</h4>
                            </div>
                            <div class="cc_container">
                            <div class="army2_cc_troops image">

                            </div>
                            <h4 class="quantity">x9</h4>
                            </div>
                            <div class="cc_container">
                            <div class="army2_cc_spells image">

                            </div>
                            <h4 class="quantity">x1</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyArmy">
                    <a class="copy_army_button" target="_blank" href="https://link.clashofclans.com/en?action=CopyArmy&army=u17x24-14x11-5x7-3x5-2x23-8x4-1x6-3x1s2x1-2x2-2x5-1x9">Copy Army</a>
                </div>
            </div>
            <div class="army_composition">
                <div class="title_description_container">
                <div class="army_title">

                </div>
                <div class="army_description">

                </div>
                </div>
                <div class="composition">

                </div>
                <div class="copyArmy">

                </div>
            </div>
            <div class="army_composition">
                <div class="title_description_container">
                <div class="army_title">

                </div>
                <div class="army_description">

                </div>
                </div>
                <div class="composition">

                </div>
                <div class="copyArmy">

                </div>
            </div>
        </div>
    </div>
</body>
</html>